name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Cambia si usas otra rama para el despliegue

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Checkout del c칩digo
        uses: actions/checkout@v4

      - name: 丘뙖잺 Configurar Pages
        uses: actions/configure-pages@v3

      - name: 游 Subir archivos est치ticos
        uses: actions/upload-pages-artifact@v4 # 游댠 Actualizado a v4
        with:
          path: . # Aseg칰rate de que `index.html` est치 en la ra칤z

      - name: 游깴 Publicar en GitHub Pages
        uses: actions/deploy-pages@v2
